# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite
*.sqlite3

# Editor files
.project
.idea/*
.tox/
__MACOSX/*
.ropeproject
.coverage

# Npm
node_modules/
npm-debug.log

# Other
.DS_Store
bower_components/
static_root/
idea/
media/
celerybeat-schedule
stunnel/*
.sass-cache/
dist/